/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {


}	


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {


}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) and (min-width: 360px) {
	.wrapper {
		width: 100%;
	}
	header {
		padding-bottom: 40px;
	}
	.header__layout-bar {
		flex-direction: column;
		padding-bottom: 20px;
	}
	.header_layout-bar-logo {
		margin: 25px auto 15px auto;
	}
	.header__layout-bar-container-menu {

	}
	.header__layout-bar-container {
		width: auto;
	}
	.header__layout-bar-container-menu {
		padding-top: 10px;
		width: auto;
	}
	.header__layout-bar-container-menu i {
		padding-right: 15px;
	}
	.header__layout-bar-menu-link {
		margin: 0;
		padding: 0 5px;
		font-size: 12px;
	}
	.header__layout-title-description {
		font-size: 30px;
		padding-bottom: 10px;
	}
	.header__layout-title h1 {
		font-size: 40px;
		width: 100%;
	}
	.header__layout {
		background-size: auto;
		padding-bottom: 40px;
	}
	.first-screen__layout-text {
		text-align: center;
		width: auto;
		font-size: 18px;
		padding: 0 15px;
	}
	.first-screen__layout-container {
		flex-direction: column;
		margin: 0 auto;
	}
	.first-screen__layout-container-block {
		margin-bottom: 10px;
	}
	.first-screen {
		padding-bottom: 40px;
	}
	.second-screen {
		padding-bottom: 40px;
	}
	.second-screen__layout-block {
		padding: 15px 0;
	}
	.second-screen__layout-block-number {
		font-size: 35px;
	}
	.second-screen__layout-block-text {
		font-size: 12px;
		font-weight: normal;
	}
	.third-screen__layout-container-block {
		margin: 0 auto;
	}
	.third-screen__layout-container-block-description-text {
		font-size: 18px;
		padding: 10px 10px 20px 0;
	}
	.third-screen__layout-container-block:nth-child(n+0) {
		border: none;
	}
	.third-screen__layout-container {
		padding-bottom: 40px;
	}
	.fourth-screen {
		padding-top: 20px;
		margin-bottom: 80px;
	}
	.fourth-screen__layout-container-block {
		width: 100%;
		height: 100%;
	}
	.fourth-screen__layout-container-box {
		width: 55%;
		height: 80%;
		top: 35%;
		left: 50%;
	}
	.fifth-screen__layout-text {
		width: auto;
		padding-bottom: 30px;
	}
	.fifth-screen__layout-container {
		flex-direction: column;
	}
	.fifth-screen__layout-container-photo {
		width: auto;
		height: auto;
		padding: 0 10px;
	}
	.fifth-screen__layout-container-description {
		width: auto;
		height: auto;
		padding: 0 5px;
	}
	.sixth-screen__layout {
		padding: 25px 0;
	}
	.sixth-screen__layout-icon i {
		font-size: 50px;
	}
	.sixth-screen__layout-description-text {
		font-size: 20px;
	}
	.seventh-screen__layout-container-text {
		width: auto;
		padding: 30px 5px;
	}
	.seventh-screen__layout-gallery {
		flex-direction: column;
	}
	.seventh-screen__layout-gallery-box {
		margin: 20px auto;
	}
	.seventh-screen__layout {
		padding-bottom: 40px;
	}
	.eighth-screen__layout {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	.ninth-screen__layout-text {
		width: auto;
		padding: 30px 5px;
	}
	.ninth-screen__layout-gallery-block {
		margin: 5px auto;
	}
	.tenth-screen__layout-icon {
		text-align: center;
		margin: 0 auto;
	}
	.tenth-screen__layout-icon-image {
		margin: 0;
		padding: 0;
	}
	.tenth-screen__layout-description-text {
		width: auto;
		height: auto;
		margin: 0 auto;
		font-size: 23px;
		padding-right: 30px;
	}
	.tenth-screen__layout {
		flex-direction: column;
	}
	.eleventh-screen__layout-container-block {
		padding-left: 15px;
	}
	.eleventh-screen__layout-container-block-description {
		padding-right: 5px;
	}
	.footer__layout {
		flex-direction: column;
	}
	.footer__layout-description {
		width: auto;
		padding: 0 25px 20px 25px;
	}
	.footer__layout-description-title {
		text-align: center;
	}
	.footer__layout-description-text {
		font-size: 15px;
	}
	.footer__layout-contacts {
		width: auto;
	}
	.footer__layout-contacts {
		padding-right: 40px;
	}
}
/*ХЗ для каких телефонов, но скорее всего для очень маленьких*/
@media only screen and (max-width : 359px) and (min-width: 310px) {
	.wrapper {
		width: 100%;
	}
	header {
		padding-bottom: 30px;
	}
	.header__layout-bar {
		flex-direction: column;
		padding-bottom: 20px;
	}
	.header__layout-bar-logo {
		margin: 25px auto 5px auto;
	}
	.header__layout-bar-container-menu {

	}
	.header__layout-bar-container {
		width: auto;
	}
	.header__layout-bar-container-menu {
		padding-top: 10px;
		width: auto;
	}
	.header__layout-bar-container-menu i {
		padding-right: 10px;
		font-size: 14px;
	}
	.header__layout-bar-menu-link {
		margin: 0;
		padding: 0 3px;
		font-size: 11px;
	}
	.header__layout-title-description {
		font-size: 25px;
		padding-bottom: 10px;
	}
	.header__layout-title h1 {
		font-size: 35px;
		width: 100%;
	}
	.header__layout {
		background-size: auto;
		padding-bottom: 20px;
	}
	.first-screen__layout-text {
		text-align: center;
		width: auto;
		font-size: 16px;
		padding: 0 15px;
	}
	.first-screen__layout-description {
		font-size: 22px;
	}
	.first-screen__layout-title {
		font-size: 27px;
	}
	.first-screen__layout-container {
		flex-direction: column;
		margin: 0 auto;
	}
	.first-screen__layout-container-block {
		margin: 10px;
		width: auto;
		height: auto;
	}
	.first-screen {
		padding-bottom: 30px;
	}
	.second-screen {
		padding-bottom: 30px;
	}
	.second-screen__layout-block {
		padding: 5px 0;
	}
	.second-screen__layout-block-number {
		font-size: 30px;
	}
	.second-screen__layout-block-text {
		font-size: 9px;
		font-weight: normal;
		padding: 0 3px;
	}
	.third-screen__layout-container-block {
		margin: 0 auto;
		padding-top: 30px;
	}
	.third-screen__layout-container-block-description-text {
		font-size: 18px;
		padding: 10px 10px 20px 0;
	}
	.third-screen__layout-container-block:nth-child(n+0) {
		border: none;
	}
	.third-screen__layout-container {
		padding-bottom: 30px;
	}
	.third-screen__layout-description {
		font-size: 22px;
	}
	.third-screen__layout-title {
		font-size: 26px;
	}
	.third-screen__layout-container-block-description-title {
		font-size: 17px;
	}
	.third-screen__layout-container-block-description-text {
		font-size: 14px;
	}
	.fourth-screen {
		padding-top: 10px;
		margin-bottom: 70px;
	}
	.fourth-screen__layout-description {
		font-size: 22px;
	}
	.fourth-screen__layout-title {
		font-size: 27px;
	}
	.fourth-screen__layout-container-block {
		width: 100%;
		height: 100%;
	}
	.fourth-screen__layout-container-box {
		width: 55%;
		height: 80%;
		top: 35%;
		left: 50%;
	}
	.fifth-screen__layout-text {
		width: auto;
		font-size: 14px;
		padding: 20px 5px 30px 5px;
	}
	.fifth-screen__layout-description {
		font-size: 22px;
	}
	.fifth-screen__layout-title {
		font-size: 27px;
	}
	.fifth-screen__layout-container {
		flex-direction: column;
	}
	.fifth-screen__layout-container-photo {
		width: auto;
		height: auto;
		padding: 0 10px;
	}
	.fifth-screen__layout-container-description {
		width: auto;
		height: auto;
		padding: 0 5px;
	}
	.sixth-screen__layout {
		padding: 25px 0;
	}
	.sixth-screen__layout-icon i {
		font-size: 40px;
	}
	.sixth-screen__layout-icon {
		padding-right: 15px;
	}
	.sixth-screen__layout-description-text {
		font-size: 18px;
		padding: 0 30px 10px 20px;
	}
	.seventh-screen__layout-container-description {
		font-size: 22px;
	}
	.seventh-screen__layout-container-title {
		font-size: 27px;
	}
	.seventh-screen__layout-container-text {
		width: auto;
		padding: 30px 5px;
		font-size: 15px;
	}
	.seventh-screen__layout-gallery {
		flex-direction: column;
		width: auto;
	}
	.seventh-screen__layout-gallery-box {
		margin: 20px 10px;
		width: auto;
		height: 100%;
	}
	.seventh-screen__layout-gallery-box-photo {
		width: auto;
		height: auto;
	}
	.seventh-screen__layout-gallery-box-photo-image {
		width: 100%;
		height: auto;
	}
	.seventh-screen__layout {
		padding-bottom: 40px;
	}
	.eighth-screen__layout {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	.ninth-screen__layout-description {
		font-size: 22px;
	}
	.ninth-screen__layout-title {
		font-size: 25px;
	}
	.ninth-screen__layout-text {
		width: auto;
		padding: 30px 5px;
		font-size: 15px;
	}
	.ninth-screen__layout-gallery-block {
		margin: 5px auto;
	}
	.tenth-screen {
		margin-bottom: 30px;
	}
	.tenth-screen__layout-icon {
		text-align: center;
		margin: 0 auto;
	}
	.tenth-screen__layout-icon-image {
		margin: 0;
		padding: 0;
	}
	.tenth-screen__layout-description-text {
		width: auto;
		height: auto;
		margin: 0 auto;
		font-size: 20px;
		padding: 15px;
	}
	.tenth-screen__layout {
		flex-direction: column;
	}
	.eleventh-screen__layout-description {
		font-size: 22px;
	}
	.eleventh-screen__layout-title {
		font-size: 26px;
	}
	.eleventh-screen__layout-container {
		width: auto;
		padding-bottom: 30px;
	}
	.eleventh-screen__layout-container-block {
		padding-left: 15px;
		width: 100%;
	}
	.eleventh-screen__layout-container-block-description {
		padding-right: 5px;
		width: auto;
	}
	.eleventh-screen__layout-container-block-description-text {
		width: auto;
		padding-right: 10px;
		font-size: 13px;
	}
	.footer__layout {
		flex-direction: column;
	}
	.footer__layout-description {
		width: auto;
		padding: 0 25px 20px 25px;
	}
	.footer__layout-description-title {
		text-align: center;
	}
	.footer__layout-description-text {
		font-size: 15px;
	}
	.footer__layout-contacts {
		width: auto;
	}
	.footer__layout-contacts {
		padding-right: 40px;
	}
	.footer__layout-contacts-feedback-input {
		width: auto;
		height: auto;
		padding: 10px;
	}
	.footer__layout-contacts-feedback {
		flex-direction: column;
	}
}

